{%extends "base.html.twig" %}
{%block stylesheets %}
    {{ parent()}}
    <link href="{{ asset("bundles/clinicaAppBundle/css/main.css") }}" type="text/css" rel="stylesheet" />
{%endblock%}
{%block body %}
    <div id="layout">
        <table>
        </table>
    </div>
    
    