/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/03/2016, 08:05:48 PM
    Author     : veroh
*/


div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

div#menu li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0 5px 0 0;
    display: block;
    float: left;
}


div#pie{
    color:white;
    background: darkblue;
}

